{{#each errors}}
  <div class="alert alert-danger alert-dismissible fade show" role="alert">
    {{text}}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
{{/each}}
<div class="main-content">
<div class="col-md-4 mx-auto" id="registro">
  <div class="card text-center">
    <div class="card-header">
      <h3>Registro de alumnos</h3>
    </div>
    <div class="card-body">
      <form action="/admin/nuevo-alumno" method="POST">
        <div class="form-group">
            <label for="matricula" class="form-control-label">Matricula</label>
          <input type="text" name="matricula" class="form-control" placeholder="Matricula" autofocus/>
        </div>
        <div class="form-group">
            <label for="nombres" class="form-control-label">Nombre(s)</label>
          <input type="text" name="nombres" class="form-control" placeholder="Nombre(s)"></input>
        </div>
        <div class="form-group">
            <label for="apellidop" class=" form-control-label">Apellido Paterno</label>
          <input type="text" name="apellidop" class="form-control" placeholder="Apellido Paterno"></input>
        </div>
        <div class="form-group">
            <label for="apellidom" class=" form-control-label">Apellido Materno</label>
          <input name="apellidom" class="form-control" placeholder="Apellido Materno"></input>
        </div>
        <div class="form-group">
            <label for="fechan" class=" form-control-label">Fecha de nacimiento</label>
          <input type="date" name="fechan" class="form-control" placeholder="Fecha de Nacimiento"></input>
        </div>
        <div class="form-group">
           <label for="genero" class=" form-control-label">Genero</label>
          <select name="genero" name="genero" class="form-control">
                            <option value="0">Elige un genero</option>
                            <option value="F">Femeninino</option>
                            <option value="M">Masculino</option>
                            <option value="O">Otro</option>
            </select>
        </div>
        <div class="form-group">
            <label for="carrera" class=" form-control-label">Carrea</label>
           <select name="carrera" name="carrera" class="form-control">
                            <option value="0">Elige una carrera</option>
                            <option value="TSU.Procesos Industriales">TSU.Procesos Industriales</option>
                            <option value="TSU.Desarrollo de Negocios: Area Mercadotecnia">TSU.Desarrollo de Negocios: Area Mercadotecnia</option>
                            <option value="TSU.Tecnologías de la Información y Comunicación Area: Sistemas">TSU.Tecnologías de la Información y Comunicación Area: Sistemas</option>
                            <option value="TSU.Tecnologías de la Información y Comunicación Area: Multimedia">TSU.Tecnologías de la Información y Comunicación Area: Multimedia</option>
                            <option value="TSU.Tecnologías de la Información y Comunicación Area: Redes">TSU.Tecnologías de la Información y Comunicación Area: Redes</option>
                            <option value="TSU.Mantenimiento Industrial">TSU.Mantenimiento Industrial</option>
                            <option value="TSU.Mecatrónica">TSU.Mecatrónica</option>
                            <option value="TSU.Energías Renovables">TSU.Energías Renovables</option>
                            <option value="TSU.Minería">TSU.Minería</option>
                            <option value="TSU.Administración: Área Recursos Humanos">TSU.Administración: Área Recursos Humanos</option>
                            <option value="TSU.Terapia Física">TSU.Terapia Física</option>
                            <option value="TSU.Agricultura Sustentable y Protegida">TSU.Agricultura Sustentable y Protegida</option>
                            <option value="ING.Procesos y Operaciones Industriales">ING.Procesos y Operaciones Industriales</option>
                            <option value="ING.Negocios e Innovación Empresarial">ING.Negocios e Innovación Empresarial</option>
                            <option value="ING.TICS">ING.TICS</option>
                            <option value="ING.Mecatrónica">ING.Mecatrónica</option>
                            <option value="ING.Energías Renovables">ING.Energías Renovables</option>
                            <option value="ING.Minería"></option>
                            <option value="Lic.Procesos Avanzados de Fabricación">Lic.Procesos Avanzados de Fabricación</option>
                            <option value="Lic.Comercio Internacional de Productos Agroindustriales">Lic.Comercio Internacional de Productos Agroindustriales</option>
                    </select>
                    
        </div>
        <div class="form-group">
                    <label for="nombres" class="form-control-label">RFID</label>
                    <input type="text" name="tarjeta" class="form-control" placeholder="Numero de tarjeta"></input>
                    </div>
        <div class="form-group">
          <button class="btn btn-primary btn-block" type="submit">
            Registrar alumno
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
</div>