<div class="row">
  <div class="col-md-4 mx-auto">
    <div class="card mt-4 text-center">
      <div class="card-header">
        <h1 class="h4">
          Entrada
        </h1>
      </div>
        <img class="rounded-circle mx-auto d-block logo m-4" src="/images/icon/logo-mini.png" alt="Logo">
      <div class="card-body">
        <form action="/alumnos/entradaa" method="POST">
          <div class="form-group">
            <input type="text" class="form-control" name="matricula" placeholder="Matricula" autofocusvalue="{{matricula}}"
          </div>
          
          <button class="btn btn-primary btn-block">
            Registrar entrada
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
